<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<wrapper class="d-flex flex-column">
	<div th:replace="header :: header(active=${active})"></div>
	<div class="container-sm">
		<div class="my-10 p-10 bg-body rounded shadow-sm">
			<div class="card">
			  <div class="card-header">
			    <h1 class="card-title">DataUser</h1>
			  </div>
			  <div class="card-body">
			    <p class="card-text"><h1 th:text="${datauser.username}" ></h1></p>
			    <p class="card-text"><h1 th:text="${datauser.role}" ></h1></p>
			  </div>
			</div>
			<div class="card">
			  <div class="card-header">
			    <h1 class="card-title">Jumlah Laporan</h1>
			  </div>
			  <div class="card-body">
			    <p class="card-text"><h1 th:text="${jmlhLaporan}" ></h1></p>
			  </div>
			</div>
			<div class="card">
			  <div class="card-header">
			    <h1 class="card-title">Jumlah Yang Ditanggpi</h1>
			  </div>
			  <div class="card-body">
			    <p class="card-text"><h1 th:text="${jmlhTanggapi}" ></h1></p>
			  </div>
			</div>
			<div class="card">
			  <div class="card-header">
			    <h1 class="card-title">Jumlah Laporan Dalam Proses</h1>
			  </div>
			  <div class="card-body">
			    <p class="card-text"><h1 th:text="${jmlhProses}" ></h1></p>
			  </div>
			</div>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
</body>
</html>